# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
